export(datagenerator)
export(metafuse)
export(metafuse.l)

import(Matrix)
import(MASS)
import(glmnet)
import(evd)

importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "legend", "lines", "plot")
importFrom("stats", "coef", "complete.cases", "dist", "glm", "hclust",
           "rbinom", "rnorm", "rpois", "runif")
